.product{
    width: 300px;
    padding: 10px;
    margin: 10px auto ;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-name{
    margin-bottom: 10px;
}

.product > img{
    border-radius: 8px;
}

.product-info > p{
    margin-bottom: 5px;
}

.product .price{
    font-weight: bold;
}

.product .product-info a{
    display: block;
    text-decoration: none;
    width: 100%;
    background-color: azure;
    color: black;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    padding: 7px 15px;

}

.product .product-info a:hover{
    background-color: #000;
    color: azure;
}

@media (max-width:630px) {
    .product{
        width:500px
    }
}