.sideDrawer{
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: blanchedalmond;
    z-index: 100;
    transform: translateX(-100%);
    transition: all .3s ease-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sideDrawer.show{
    transform: translateX(0);
}

.sideDrawer-links{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sideDrawer-links >li{
    display: flex;
    align-items: center;
}

.sideDrawer-links >li > a> span{
margin-left: 6px;
display: flex;
}
.sideDrawer-count{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(32, 32, 32);
    color: rgb(235, 241, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sideDrawer-links >li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(61, 61, 61);
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    flex: 1;
}

.sideDrawer-links >li >a:hover{
    background-color: rgb(19, 18, 18);
    color: antiquewhite;
}

@media (min-width:960px) {
    .sideDrawer{
        display: none;
    }
}